{% extends 'base-page.html' %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    <title>skyshop || 404</title>
    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <!-- Body main wrapper start -->
    {% block content %}
    <div class="wrapper">


        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section plr-200 mb-80">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">404</h1>
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>404</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <div id="page-content" class="page-wrapper">

            <!-- ERROR SECTION START -->
            <div class="error-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-404 box-shadow">
                                <img src="{% static 'img/others/i01_ieew2qnx.png' %}" alt="404 page not found">
                                <div class="go-to-btn btn-hover-2">
                                    <a href="{% url 'home' %}">Главная</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ERROR SECTION END -->             
        </div>
        <!-- End page content -->

    </div>
    {% endblock %}
</body>

</html>